nb-form-field {
    margin: 10px;

    margin-left: auto;
    margin-right: auto;
}

.div-wrapper-input {
    display: flex;

    align-items: center;
    column-gap: 15px;

    flex-flow: wrap;
}

nb-card {
    background: none;
    border: none;
    margin: 0px;
}

.card-table-wrapper {
    display: block;

    position: sticky;
    top: 0;

    margin: auto;

    max-height: 305px !important;
    width: fit-content;

    table-layout: fixed;

    tr > th {
        position: sticky;
        top: -1px;
    }

    th,
    td {
        min-width: 16vw;
        max-width: 16vw;
    }

    // &::-webkit-scrollbar{
    //     display: none;
    // }

    .td-focusable:focus {
        background: darkblue;
    }

    tr:last-child {
        background-color: #524469 !important;
    }

    .input-table-cell {
        margin: 0;
        padding: 5px;

        max-width: 16vw !important;
        max-height: 20px !important;
    }
}

::-webkit-scrollbar {
    width: 12px !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(36, 27, 88, 0.767) !important;
    border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    // -webkit-box-shadow: inset 0 0 6px rgba(62, 26, 192, 0.747) !important;
    // -webkit-box-shadow: inset 0 0 6px rgba(69, 67, 219, 0.747) !important;
    -webkit-box-shadow: inset 0 0 6px rgba(85, 84, 180, 0.966) !important;
}

.card-labels-right {
    display: flex;
    flex-direction: column;

    // row-gap: 20px;

    text-align: right;

    label {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.card-labels-left {
    display: flex;
    flex-direction: column;

    // row-gap: 20px;

    text-align: left;

    label {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

nb-form-field {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

nb-card-header {
    padding: 0px;
}

.card-row {
    display: flex;

    justify-content: center;
    align-content: center;
    flex-direction: row;

    margin: 0;
    margin-left: auto;
    margin-right: auto;

    // width: fit-content;

    .card-col-labels {
        ::ng-deep nb-card {
            width: 15vw;
            form {
                min-width: fit-content;
                margin: auto;
            }
        }
    }

    .card-col-1,
    .card-col-2 {
        width: 40vw;
        margin: auto;

        nb-card {
            form {
                min-width: fit-content;
                margin: auto;

                nb-form-field {
                    min-width: fit-content !important;
                    margin: 0;

                    input {
                        min-width: 38vw;
                        overflow-x: hidden;
                    }
                }
            }
        }
    }

    .card-cols {
        display: flex;
        flex-direction: row;
    }
}

.card-col,
.card-col-1 {
    margin: 0;
}

.form-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
        flex: 1 0 18%;
    }

    nb-form-field {
        min-width: 20% !important;
        // max-width: fit-content !important;

        input {
            min-width: 100% !important;
        }
    }

    .form-field-full-width {
        display: flex !important;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center !important;
        max-width: 100% !important;
        margin: auto !important;
    }

    .form-field-full-width-inner-div {
        // @extend .form-field-full-width-inner-div;

        display: flex !important;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center !important;
        max-width: 100% !important;
        margin: auto !important;

        column-gap: 25px;

        textarea,
        input {
            max-width: 100% !important;
        }

        label {
            min-width: fit-content;
        }
    }
}
