<nb-card class="card-title">
    <nb-card-body>
        001 Központi Raktár
    </nb-card-body>
</nb-card>

<nb-layout>
    <nb-layout-column (keydown.enter)="handleFormEnter($event)">
        <nb-card>
            <nb-card-header class="card-header-txt-center">
                Szállító
            </nb-card-header>
            <nb-card-body class="form-col-1">
                <form [formGroup]="exporterForm" (keydown.enter)="$event.preventDefault()" #formDirective="ngForm">
                    <nb-form-field>
                        <div class="div-wrapper-input">
                            <label>Név</label>
                            <input nbInput type="text" formControlName='name' required="true" readonly id="l00">
                        </div>
                    </nb-form-field>

                    <nb-form-field>
                        <div class="div-wrapper-input">
                            <label>Irsz.Város</label>
                            <input nbInput type="text" formControlName='zipCodeCity' required="true" readonly id="l01">
                        </div>
                    </nb-form-field>

                    <nb-form-field>
                        <div class="div-wrapper-input">
                            <label>Utca házszám</label>
                            <input nbInput type="text" formControlName='street' required="true" readonly id="l02">
                        </div>
                    </nb-form-field>

                    <nb-form-field>
                        <div class="div-wrapper-input">
                            <label>Számlaszám</label>
                            <input nbInput type="text" formControlName='invoiceNum' required="true" readonly id="l03">
                        </div>
                    </nb-form-field>

                    <nb-form-field>
                        <div class="div-wrapper-input">
                            <label>Adószám</label>
                            <input nbInput type="text" formControlName='taxNum' required="true" readonly id="l04">
                        </div>
                    </nb-form-field>

                    <nb-form-field>
                        <div class="div-wrapper-input">
                            <label>Megjegyzés</label>
                            <input nbInput type="text" formControlName='note' required="false" readonly id="l05">
                        </div>
                    </nb-form-field>
                </form>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>

    <nb-layout-column (keydown.enter)="handleFormEnter($event, false)">
        <nb-card>
            <nb-card-header class="card-header-txt-center">
                Vevő
            </nb-card-header>
            <nb-card-body class="form-col-2">
                <form [formGroup]="buyerForm" #formDirective="ngForm">
                    <nb-form-field>
                        <div class="div-wrapper-input">
                            <label>Név</label>
                            <input formControlName="name" nbInput type="text" [nbAutocomplete]="auto" [readonly]="isEditModeOff" autocomplete="off" id="r00" /> <!--  (keyup)="handleAutoCompleteOptionFocused($event)"-->
                            <!-- AUTOCOMPLETE -->
                            <nb-autocomplete #auto [activeFirst]="false" (selectedChange)="handleAutoCompleteSelect($event)">
                                <nb-option *ngFor="let option of filteredBuyerOptions$ | async; let i = index" [value]="option">
                                    {{ option }}
                                </nb-option>
                            </nb-autocomplete>
                        </div>
                    </nb-form-field>
                    
                    <nb-form-field>
                        <div class="div-wrapper-input">
                            <label>Irsz.Város</label>
                            <input nbInput type="text" formControlName='zipCodeCity' required="true" readonly id="r01">
                        </div>
                    </nb-form-field>
                    
                    <nb-form-field>
                        <div class="div-wrapper-input">
                            <label>Utca házszám</label>
                            <input nbInput type="text" formControlName='street' required="true" readonly id="r02">
                        </div>
                    </nb-form-field>
                    
                    <nb-form-field>
                        <div class="div-wrapper-input">
                            <label>Számlaszám</label>
                            <input nbInput type="text" formControlName='invoiceNum' required="true" readonly id="r03">
                        </div>
                    </nb-form-field>
                    
                    <nb-form-field>
                        <div class="div-wrapper-input">
                            <label>Adószám</label>
                            <input nbInput type="text" formControlName='taxNum' required="true" readonly id="r04">
                        </div>
                    </nb-form-field>
                    
                    <nb-form-field>
                        <div class="div-wrapper-input">
                            <label>Megjegyzés</label>
                            <input nbInput type="text" formControlName='note' required="false" readonly id="r05">
                        </div>
                    </nb-form-field>
                </form>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
    
    <nb-layout-column (keydown.enter)="handleFormEnter($event)">
        <nb-card>
            <nb-card-header class="card-header-txt-center">
                Számla
            </nb-card-header>
            <nb-card-body class="form-col-1">
                <form [formGroup]="metaForm" #formDirective="ngForm">
                    <nb-form-field>
                        <div class="div-wrapper-input">
                            <label>Fizetési mód</label>
                            <input nbInput type="text" formControlName='paymentMethod' required="true"
                                [readonly]="isEditModeOff" id="m00">
                        </div>
                    </nb-form-field>
    
                    <nb-form-field>
                        <div class="div-wrapper-input">
                            <label>Telj. időpont</label>
                            <input nbInput type="datetime" formControlName='finishTimeStamp' required="true"
                                [readonly]="isEditModeOff" id="m01" mask="0000-00-00" [showMaskTyped]="true"
                                [validation]="true">
                        </div>
                    </nb-form-field>
    
                    <nb-form-field>
                        <div class="div-wrapper-input">
                            <label>Számla kelte</label>
                            <input nbInput type="datetime" formControlName='invoiceCreation' required="true"
                                [readonly]="isEditModeOff" id="m02" mask="0000-00-00" [showMaskTyped]="true"
                                [validation]="true">
                        </div>
                    </nb-form-field>
    
                    <nb-form-field>
                        <div class="div-wrapper-input">
                            <label>Fiz.hat.idő</label>
                            <input nbInput type="datetime" formControlName='paymentDeadline' required="true"
                                [readonly]="isEditModeOff" id="m03" mask="0000-00-00" [showMaskTyped]="true"
                                [validation]="true">
                        </div>
                    </nb-form-field>
    
                    <nb-form-field>
                        <div class="div-wrapper-input">
                            <label>Számla sorsz.</label>
                            <input nbInput type="text" formControlName='invoiceOrdinal' required="true"
                                [readonly]="isEditModeOff" id="m04">
                        </div>
                    </nb-form-field>
    
                    <nb-form-field>
                        <div class="div-wrapper-input">
                            <label>Egyéb adatok</label>
                            <textarea rows="1" nbInput type="text" formControlName='misc' required="true"
                                [readonly]="isEditModeOff" id="m05"></textarea>
                        </div>
                    </nb-form-field>
                </form>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>

<nb-card>
    <nb-card-header class="card-header-txt-center">
        Termékek
    </nb-card-header>
    <nb-card-body>
        <form> <!--[formGroup]="productForm"-->
            <table class="card-table-wrapper" [nbTreeGrid]="productsDataSource" [nbSort]="productsDataSource" [trackBy]="trackRows" (sort)="changeSort($event)" equalColumnsWidth>
            
                <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
                <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
            
                <ng-container *ngFor="let it of colDefs; let colPos = index" [nbTreeGridColumnDef]="it.colKey">
                    <ng-container [ngSwitch]="it.type">

                        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]="getDirection(it.colKey)">
                            {{it.label}}
                        </th>

                        <td [tabindex]="row.tabindex" class="td-focusable" nbTreeGridCell *nbTreeGridCellDef="let row; let rowPos = index"
                            (keydown.enter)="handleGridEnter($event, row, rowPos, it.objectKey)"
                            (keydown.delete)="handleGridDelete($event, row, rowPos, it.objectKey)"
                            id="{{'PRODUCT-' + colPos + '-' + rowPos}}">

                            <input *ngIf="editedRowPos == rowPos && editedProperty == it.objectKey" nbInput [type]="it.type" name="PRODUCT-EDIT" [(ngModel)]="row.data[it.objectKey]" id="PRODUCT-EDIT"
                                    [mask]="it.mask" [patterns]="customMaskPatterns" [showMaskTyped]="true"/> <!--formControlName="edited"-->
                            
                            <div *ngIf="editedRowPos !== rowPos || editedProperty !== it.objectKey">
                                {{ row.data[it.objectKey] }}
                            </div>
                        </td>

                    </ng-container>
                </ng-container>
            </table>
        </form>
    </nb-card-body>
</nb-card>
