<nb-actions size="medium">
    
    <nb-action tabIndex="-1" class="disable-select"><img src="assets/svg/bbx_logo.svg"></nb-action>
    
    <nb-action id="header-home" tabIndex="1" icon="home-outline" link="/" (click)="goTo('/')"></nb-action>
    
    <nb-action id="header-user" tabIndex="2" icon="person-outline" disabled></nb-action>
    
    <nb-action id="header-sett" tabIndex="3" [icon]="settingsIconConfig" disabled></nb-action>
    
    <nb-action id="header-prod" tabIndex="4" disabled>Termékek</nb-action>
    
    <nb-action id="header-invo" tabIndex="5" nbPopoverTrigger="focus" nbPopoverPlacement="bottom" [nbPopover]="sub_invoicing">Számlázás</nb-action>
    <ng-template #sub_invoicing let-data>
        <nb-card>
            <nb-card-body>
                <button nbButton status="primary" id="invoicing-sub-1" link="invoicing/invoice" (click)="goTo('invoicing/invoice')">
                    Számla
                </button>
            </nb-card-body>
        </nb-card>
    </ng-template>
    
    <nb-action id="header-orde" tabIndex="6" disabled>Megrendelés</nb-action>
    
    <nb-action id="header-info" tabIndex="7" disabled>Információ</nb-action>
    
    <nb-action id="header-list" tabIndex="8" disabled>Listák</nb-action>
    
    <nb-action id="header-serv" tabIndex="9" disabled>Szolgáltatások</nb-action>
    
    <nb-action id="header-shut" tabIndex="10" icon="power-outline" *ngIf="isElectron" (click)="quit($event)" (keydown.enter)="quit($event)">Kilépés</nb-action>

    <nb-action disabled>
        <nb-tag-list>
            <nb-tag appearance="outline" [text]="keyboardMode" [status]="keyboardModeStatus"></nb-tag>
        </nb-tag-list>
    </nb-action>

</nb-actions>
