<nb-actions size="medium">
    
    <nb-action tabIndex="-1" class="disable-select">{{title}}</nb-action>
    
    <nb-action id="header-home" tabIndex="1" icon="home-outline" link="/"></nb-action>
    
    <nb-action id="header-user" tabIndex="2" icon="person-outline"></nb-action>
    
    <nb-action id="header-sett" tabIndex="3" [icon]="settingsIconConfig" disabled></nb-action>
    
    <nb-action id="header-prod" tabIndex="4" disabled>Termékek</nb-action>
    
    <nb-action id="header-invo" tabIndex="5" nbPopoverTrigger="focus" nbPopoverPlacement="bottom" [nbPopover]="sub_invoicing">Számlázás</nb-action>
    <ng-template #sub_invoicing>
        <nb-menu [items]="subInvoicingMenuItems"></nb-menu>
    </ng-template>
    
    <nb-action id="header-orde" tabIndex="6" disabled>Megrendelés</nb-action>
    
    <nb-action id="header-info" tabIndex="7" disabled>Információ</nb-action>
    
    <nb-action id="header-list" tabIndex="8" disabled>Listák</nb-action>
    
    <nb-action id="header-serv" tabIndex="9" disabled>Szolgáltatások</nb-action>
    
    <nb-action id="header-shut" tabIndex="10" icon="power-outline" *ngIf="!isElectron" (click)="quit($event)" (keydown.enter)="quit($event)">Kilépés</nb-action>

</nb-actions>



<!-- nbContextMenuTrigger="focus" [nbContextMenu]="invoicingMenuItems" -->