<div *ngIf="isReady" class="grid-cards-info">
    <nb-card class="card-stat">
        <nb-card-header class="card-header-txt-center">Eladások eloszlása</nb-card-header>
        <nb-card-body>
            <div><canvas id="myPieChart" width="400" height="400"></canvas></div>
        </nb-card-body>
    </nb-card>

    <nb-card class="card-stat">
        <nb-card-header class="card-header-txt-center">Eladások nagysága</nb-card-header>
        <nb-card-body>
            <div><canvas id="myLineChart" width="400" height="400"></canvas></div>
        </nb-card-body>
    </nb-card>
</div>

<div class="wrapper-chat">
    <nb-chat title="Direct Messages" size="large">
        <nb-chat-message *ngFor="let msg of messages" [type]="msg.type" [message]="msg.text" [reply]="msg.reply"
            [sender]="msg.user.name" [date]="msg.date" [files]="msg.files" [quote]="msg.quote" [latitude]="msg.latitude"
            [longitude]="msg.longitude" [avatar]="msg.user.avatar">
        </nb-chat-message>
        <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true">
        </nb-chat-form>
    </nb-chat>
</div>
