<div *ngIf="isReady" class="grid-cards-info">
    <!-- <app-stat-card [data]="products" [col]="'Value'" [title]="'5 Legnagyobb érték'" [predicate]="productGratestValue"></app-stat-card>
    <app-stat-card [data]="products" [col]="'Value'" [title]="'5 Legkisebb érték'" [predicate]="productSmallestValue"></app-stat-card>
    <app-stat-card [data]="products" [col]="'Price'" [title]="'5 Legnagyobb ár'" [predicate]="productGratestPrice"></app-stat-card>
    <app-stat-card [data]="products" [col]="'Price'" [title]="'5 Legkisebb ár'" [predicate]="productSmallestPrice"></app-stat-card>
    <app-stat-card [data]="products" [col]="'Amount'" [title]="'5 Legnagyobb mennyiség'" [predicate]="productGratestAmount"></app-stat-card>
    <app-stat-card [data]="products" [col]="'Amount'" [title]="'5 Legkisebb mennyiség'" [predicate]="productSmallestAmount"></app-stat-card> -->

    <nb-card class="card-stat">
        <nb-card-header class="card-header-txt-center">Eladások eloszlása</nb-card-header>
        <nb-card-body>
            <div><canvas id="myPieChart" width="400" height="400"></canvas></div>
        </nb-card-body>
    </nb-card>

    <nb-card class="card-stat">
        <nb-card-header class="card-header-txt-center">Eladások nagysága</nb-card-header>
        <nb-card-body>
            <div><canvas id="myLineChart" width="400" height="400"></canvas></div>
        </nb-card-body>
    </nb-card>
</div>
