<nb-card>
    <nb-card-header>
        <span>Gyorskeresés</span>
        <nb-button-group (valueChange)="updateBtnGroupValue($event, true)" *ngIf="firstBtnGroupVal.length == 0">
            <button nbButtonToggle value="btn-1" id="active-prod-btn-1">Termékek</button>
            <button nbButtonToggle value="btn-2" id="active-prod-btn-2">Termékcsoportok</button>
        </nb-button-group>
        <nb-button-group (valueChange)="updateBtnGroupValue($event, false)" *ngIf="firstBtnGroupVal.length > 0">
            <button nbButtonToggle value="btn-3" id="active-prod-btn-1">Kódra</button>
            <button nbButtonToggle value="btn-4" id="active-prod-btn-2">Névre</button>
        </nb-button-group>
    </nb-card-header>
    <nb-card-body *ngIf="secondBtnGroupVal.length > 0">

        <label class="search-label" for="search">Termék:</label>
        <input nbInput id="active-prod-search" class="search-input" (keydown.enter)="handleEnter($event)" (keyup)="refreshFilter($event)" [readonly]="isEditModeOff">

        <table class="table-active-product card-table-wrapper" [nbTreeGrid]="productsDataSource" [nbSort]="productsDataSource"
            [trackBy]="trackRows" equalColumnsWidth>
            <!-- <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr> -->
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
            <ng-container *ngFor="let it of colDefs; let colPos = index" [nbTreeGridColumnDef]="it.colKey">
                <ng-container [ngSwitch]="it.type">
                    <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
                        {{it.label}}
                    </th>
                    <td [tabindex]="row.tabindex" class="td-focusable" nbTreeGridCell
                        *nbTreeGridCellDef="let row; let rowPos = index"
                        (keydown.enter)="selectRow($event, row)"
                        (keydown)="gridNavHandler.handleGridMovement($event, row, rowPos, it.objectKey, colPos, true)"
                        id="{{'ACTIVEPRODUCT-' + colPos + '-' + rowPos}}">
                        <div>
                            {{ row.data[it.objectKey] }}
                        </div>
                    </td>
                </ng-container>
            </ng-container>
        </table>

        <div class="metadata">
            <div class="metadata-section-upper">
                <div>Készleten</div>
                <div>{{selectedRow.Amount}} dbx</div>
            </div>
            <div class="metadata-section-lower">
                <div class="metadata-row">
                    <div class="label-ker">Nagyker</div> <div>:</div> <div class="label-price">{{selectedRow.Price}}</div> <div>,</div>
                    <div class="label-brut">Bruttó</div> <div>:</div> <div class="label-price">{{selectedRow.Price}}</div>
                </div>
                <div class="metadata-row">
                    <div class="label-ker">Kisker</div> <div>:</div> <div class="label-price">{{selectedRow.Value}}</div> <div>,</div>
                    <div class="label-brut">Bruttó</div> <div>:</div> <div class="label-price">{{selectedRow.Value}}</div>
                </div>
            </div>
        </div>

    </nb-card-body>
    <nb-card-footer *ngIf="secondBtnGroupVal.length > 0">
        <div class="metadata-footer">
            <div class="label-footer-title">
                [ Aktív Termékek ]
            </div>
            <div class="label-footer-separator">
                ==========
            </div>
            <div class="label-footer-discount">
                [ Eng: <div class="label-footer-discount-value">ENGB 0.00%</div> ]
            </div>
        </div>
    </nb-card-footer>
</nb-card>