<nb-card class="modal-product-active">
    <nb-card-header class="modal-product-active-header">
        <span>Gyorskeresés</span>
        <div class="btn-group">
            <button nbButton value="btn-3" id="active-prod-btn-1" (click)="updateBtnGroupValue(false)">Kódra</button>
            <button nbButton value="btn-4" id="active-prod-btn-2" (click)="updateBtnGroupValue(false)">Névre</button>
        </div>
    </nb-card-header>
    <nb-card-body class="modal-product-active-body" *ngIf="btnState">

        <label class="search-label" for="search">Termék:</label>
        <input nbInput id="active-prod-search" class="search-input" (keydown.enter)="handleEnter($event)"
            (keyup)="refreshFilter($event)" [readonly]="isEditModeOff" autocomplete="off">

        <table class="table-active-product card-table-wrapper" [nbTreeGrid]="productsDataSource"
            [nbSort]="productsDataSource" [trackBy]="trackRows" equalColumnsWidth>
            <!-- <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr> -->
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
            <ng-container *ngFor="let it of colDefs; let colPos = index" [nbTreeGridColumnDef]="it.colKey">
                <ng-container [ngSwitch]="it.type">
                    <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
                        {{it.label}}
                    </th>
                    <td [tabindex]="row.tabindex" class="td-focusable" nbTreeGridCell
                        *nbTreeGridCellDef="let row; let rowPos = index" (keydown.enter)="selectRow($event, row)"
                        (keydown)="gridNavHandler.handleGridMovement($event, row, rowPos, it.objectKey, colPos, true)"
                        id="{{'ACTIVEPRODUCT-' + colPos + '-' + rowPos}}">
                        <div>
                            {{ row.data[it.objectKey] }}
                        </div>
                    </td>
                </ng-container>
            </ng-container>
        </table>

        <div class="metadata">
            <div class="metadata-section-upper">
                <div>Készleten</div>
                <div>{{selectedRow.Amount}} dbx</div>
            </div>
            <div class="metadata-section-lower">
                <div class="metadata-row">
                    <div class="label-ker">Nagyker</div>
                    <div>:</div>
                    <div class="label-price">{{selectedRow.Price}}</div>
                    <div>,</div>
                    <div class="label-brut">Bruttó</div>
                    <div>:</div>
                    <div class="label-price">{{selectedRow.Price}}</div>
                </div>
                <div class="metadata-row">
                    <div class="label-ker">Kisker</div>
                    <div>:</div>
                    <div class="label-price">{{selectedRow.Value}}</div>
                    <div>,</div>
                    <div class="label-brut">Bruttó</div>
                    <div>:</div>
                    <div class="label-price">{{selectedRow.Value}}</div>
                </div>
            </div>
        </div>

    </nb-card-body>
    <nb-card-footer class="modal-product-active-footer" *ngIf="btnState">
        <div class="metadata-footer">
            <div class="label-footer-title">
                [ Aktív Termékek ]
            </div>
            <div class="label-footer-separator">
                ==========
            </div>
            <div class="label-footer-discount">
                [ Eng: <div class="label-footer-discount-value">ENGB 0.00%</div> ]
            </div>
        </div>
    </nb-card-footer>
</nb-card>