nb-action {
    .fkey-key {
        margin-right: 15px;

        font-size: 1.1rem;
        color: yellow;
    }
    .fkey-value {
        min-height: 26px;
        min-width: 100px;

        padding: 5px;

        font-size: 1.1rem;

        background-color: rgba(150,150,150,0.5);
    }
}
